html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
}

.header {
    grid-column: 2 / -1;
}

.sidebar {
    background-color: aqua;
    grid-row: 1 / -1;
}

.main {
    background-color: bisque;
}