html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

button, input {
    padding: 0px;
} 

.container {
    height: 100%;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

.header {
    grid-column: 2 / -1;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    padding: 24px;
}

.sidebar {
    background-color: lightslategray;
    grid-row: 1 / -1;
    color: azure;
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    justify-content: center;
}

.main {
    background-color: darkgray;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    padding: 16px;
}

.profile, .options {
    text-align: end;
}

.search {
    display: flex;
}

.search input {
    flex: 1;
    height: 20px;
}

.projects {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 1fr 7fr;
}

h4 {
    margin: 0px;
}

.cards {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 12px;
}

.card {
    background-color: beige;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons {
    text-align: end;
}
